{% extends 'base.html.twig' %}
{% block title %}Menu Hero{% endblock %}

{% block body %}


<div class="example-wrapper">

    <ul class="menu">
       <li class="box"><a href="/organisation">organisations</a></li>
        <li class="box"><a href="/hero">heros</a></li>
        <li class="box"><a href="/hero/create">creer un hero</a></li>
        <li class="box"><a href="/organisation/create">creer une organisation</a></li>
    </ul>
</div>
{% endblock %}
